{% extends 'portal/base.html' %}

{% block title %}Logout{% endblock %}

{% block content %}
<div style="display:flex; justify-content:center; align-items:center;">
    <div class="d-flex flex-column text-center my-5 text-gray-700 dark:text-gray-400">
        <br><br>
        <br><br>
        You have been logged out successfully.
        <br><br>
        Redirecting in <span id="counter">3</span>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">

    function countdown() {
        let countEl = document.getElementById('counter');
        if (parseInt(countEl.innerHTML) === 1) {
            location.href = '{% url "portal:login" %}';
        }
        if (parseInt(countEl.innerHTML) !== 1) {
            countEl.innerHTML = parseInt(countEl.innerHTML) - 1;
        }
    }
    setInterval(function () { countdown(); }, 1000);
</script>
{% endblock %}